@charset "UTF-8";
/* Media query smartphone*/
/* Media query tablette*/
/* Media query desktop*/
.element_central {
  text-align: center;
}

@media (min-width: 320px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px;
    padding-right: 20%;
  }
  header img {
    width: 60%;
  }
  header i {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: -40px;
    color: black;
  }
  body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
  }
  body .illustration {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  body a {
    text-decoration: none;
  }
  section {
    background-color: #f6f6f6;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    margin-top: -15%;
  }
  section .name-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section .name-restaurant i {
    font-size: 1.3rem;
    margin-top: 8%;
  }
  section h2 {
    margin-left: -8%;
    font-family: 'Shrikhand', cursive;
  }
  section h3 {
    font-weight: normal;
    color: rgba(46, 44, 46, 0.8);
  }
  section .underline {
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  section h4 {
    margin-top: 0px;
  }
  section h5 {
    font-weight: normal;
    color: rgba(46, 44, 46, 0.8);
    margin-bottom: 0px;
  }
  .card {
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .card .box {
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 2px 5px 5px -2px #dddddd;
            box-shadow: 2px 5px 5px -2px #dddddd;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 5px;
    width: 90%;
    height: auto;
  }
  .card .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -35px;
  }
  .card .info .price {
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
  }
  .card i {
    margin-top: -14px;
    margin-right: -10px;
    color: white;
    background-color: #99e2d0;
    padding: 25px;
    border-radius: 0px 15px 15px 0px;
    height: 40%;
  }
  .card .fa-check-circle {
    /*animation du boutton check*/
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .card .fa-check-circle:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .btn {
    width: 50%;
    border-style: hidden;
    border-radius: 30px;
    padding: 15px;
    margin-left: 20%;
    margin-bottom: 40px;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    background: linear-gradient(#ff79da, #9356dc);
  }
  footer {
    width: 100%;
    background-color: #2e2727;
    color: white;
  }
  footer h3 {
    padding: 40px;
    margin-bottom: -30px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: 'Shrikhand', cursive;
  }
  footer li {
    list-style-type: none;
    line-height: 30px;
  }
  footer a {
    color: white;
  }
  footer i {
    margin-right: 10px;
  }
  /*
    header{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        padding-right: 20%;

        img{
            width: 60%;
        }
        i{
           font-size: 1rem;
           margin-top: 8px;
           color: black;
        }
    }

    body{
        font-family: 'Roboto', sans-serif;
        .illustration{
            object-fit: cover;
            width: 100%;
        }
        a{
            text-decoration: none;
        }
        h3{
            font-weight: normal;
            padding-bottom: 10px;
           /* box-shadow: inset 0 -5px 0 $couleurterciaire;
            
        }
        .bar{
            width: 40px;
            height: 3px;
            background-color: $couleurterciaire;
            margin-top: -25px;
            margin-bottom: 20px;
        }
    }

    .contenair_carte{
        background-color: $couleurfond;
        border-radius: 40px 40px 0px 0px;
        padding: 40px;
        padding-left: 10px;
        margin-top: -15%;
        position: relative;
        max-width: 100%;

    }
    .nom-restau{
        display: flex;
        justify-content: space-between;

        /*font-family: 'Shrikhand', cursive; police titre et logo


        h2{
            font-family: 'Shrikhand', cursive;
        }
        i{
            font-size: 1.5rem;
            margin-top: 25px;

        }
    }

    .choix{
       
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        padding: 5px;
        padding-left: 10px;
        box-shadow: 2px 5px 5px -2px $ombres-box;
        width: 105%;

        .titre-plat{
            font-weight: bold;
            font-size: 1.1rem;
            margin-top: 10px;
            margin-bottom: 5px;
            box-shadow: none;
            padding-bottom: 0px;
        }
        
        .complémentaire{
            display: flex;
            justify-content: space-between;
        }

        .info-plat{
            font-size: 1.05rem;
            padding-bottom: 20px;
        }
        .prix{
            font-weight: bold;
            font-size: 1.1rem;
            margin-right: 10px;
        }

        .fa-check-circle{
            color: white;
            background-color: #99e2d0;
            font-size: 1.5rem;
            margin-right: 10px;
            margin-top: 40%;  

            /*animation du boutton check
            
            transform: rotate(0deg);
              transition: 1s ease-in-out;
          }
          .fa-check-circle:hover {
            transform: rotate(360deg);
          }
          
          /*fin de l'animation
          .valid{ 
            background-color: #99e2d0;
            padding: 20px;
            border-radius: 0px 20px 20px 0px;
            height: auto;
            margin-top: -40px;
            margin-right: -5px;
            margin-top: -42px;
            margin-bottom: -5px;

            &:hover{
                cursor: pointer;
            }
            }
    }

    

    .btn{
        width: 50%;
        border-style: hidden;
        border-radius: 30px;
        padding: 15px;
        margin-left: 30%;
        margin-top: 40px;
        color: white;
        background: linear-gradient($couleursecondaire, $couleurprimaire);
    }

    footer{

        width: 100%;
        background-color: rgb(46, 39, 39);
        color: white;

        h3{
            padding: 40px;
            margin-bottom: -30px;
            box-shadow: none;
            font-family: 'Shrikhand', cursive;
        }
    
        li{
            list-style-type: none;
            line-height: 30px;
        }
        a{
            color: white;
        }
        i{
            margin-right: 10px;
        }
    }*/
}

/*Version tablette*/
@media (min-width: 767px) {
  header i {
    margin-top: 25px;
  }
  footer {
    text-align: center;
  }
  footer h3 {
    margin-left: 30px;
  }
  .choix {
    max-width: 100%;
  }
}

/*Version desktop*/
@media (min-width: 1024px) {
  header {
    width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 25%;
  }
  header i {
    margin-top: 25px;
  }
  main img {
    height: 400px;
  }
  .nom-restau {
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nom-restau i {
    margin-left: 10%;
  }
  .carte {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .entrees {
    width: 30%;
  }
  .plats {
    width: 30%;
  }
  .desserts {
    width: 30%;
  }
  .btn {
    margin-left: 27%;
  }
}
/*# sourceMappingURL=fichier2.css.map */