$couleurprimaire: #9356dc;
$couleursecondaire: #ff79da;
$couleurterciaire: #99e2d0;
$couleurfond: #f6f6f6;
$ombres-box: #dddddd ;
$border: 1px solid white;

/* Media query smartphone*/

$breackpoint: 320px;
$media-mobile: only screen and (min-width: $breackpoint);

/* Media query tablette*/
$breackpoint-2: 767px;
$media-tablette: only screen and (min-width: $breackpoint-2);

/* Media query desktop*/
$breackpoint-3: 1024px;
$media-desktop: only screen and (min-width: $breackpoint-3);

.element_central{
    text-align: center;
}

@media #{$media-mobile}{

    header{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        padding-right: 20%;

        img{
            width: 60%;
        }
        i{
           font-size: 1rem;
           margin-top: 8px;
           color: black;
        }
    }

    body{
        font-family: 'Roboto', sans-serif;
        .illustration{
            object-fit: cover;
            width: 100%;
        }
        a{
            text-decoration: none;
        }
        h3{
            font-weight: normal;
            padding-bottom: 10px;
           /* box-shadow: inset 0 -5px 0 $couleurterciaire;*/
            
        }
        .bar{
            width: 40px;
            height: 3px;
            background-color: $couleurterciaire;
            margin-top: -25px;
            margin-bottom: 20px;
        }
    }

    .contenair_carte{
        background-color: $couleurfond;
        border-radius: 40px 40px 0px 0px;
        padding: 40px;
        padding-left: 10px;
        margin-top: -15%;
        position: relative;
        max-width: 100%;

    }
    .nom-restau{
        display: flex;
        justify-content: space-between;

        /*font-family: 'Shrikhand', cursive; police titre et logo*/


        h2{
            font-family: 'Shrikhand', cursive;
        }
        i{
            font-size: 1.5rem;
            margin-top: 25px;

        }
    }

    .choix{
       
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        padding: 5px;
        padding-left: 10px;
        box-shadow: 2px 5px 5px -2px $ombres-box;
        width: 105%;

        .titre-plat{
            font-weight: bold;
            font-size: 1.1rem;
            margin-top: 10px;
            margin-bottom: 5px;
            box-shadow: none;
            padding-bottom: 0px;
        }
        
        .complémentaire{
            display: flex;
            justify-content: space-between;
        }

        .info-plat{
            font-size: 1.05rem;
            padding-bottom: 20px;
        }
        .prix{
            font-weight: bold;
            font-size: 1.1rem;
            margin-right: 10px;
        }

        .fa-check-circle{
            color: white;
            background-color: #99e2d0;
            font-size: 1.5rem;
            margin-right: 10px;
            margin-top: 40%;  

            /*animation du boutton check*/
            
            transform: rotate(0deg);
              transition: 1s ease-in-out;
          }
          .fa-check-circle:hover {
            transform: rotate(360deg);
          }
          
          /*fin de l'animation*/
          .valid{ 
            background-color: #99e2d0;
            padding: 20px;
            border-radius: 0px 20px 20px 0px;
            height: auto;
            margin-top: -40px;
            margin-right: -5px;
            margin-top: -42px;
            margin-bottom: -5px;
            display: none;

            &:hover{
                cursor: pointer;
            }
            }
    }

    

    .btn{
        width: 50%;
        border-style: hidden;
        border-radius: 30px;
        padding: 15px;
        margin-left: 30%;
        margin-top: 40px;
        color: white;
        background: linear-gradient($couleursecondaire, $couleurprimaire);
    }

    footer{

        width: 100%;
        background-color: rgb(46, 39, 39);
        color: white;

        h3{
            padding: 40px;
            margin-bottom: -30px;
            box-shadow: none;
            font-family: 'Shrikhand', cursive;
        }
    
        li{
            list-style-type: none;
            line-height: 30px;
        }
        a{
            color: white;
        }
        i{
            margin-right: 10px;
        }
    }
}

/*Version tablette*/

@media #{$media-tablette}{

    header{
        i{
            margin-top: 25px;
        }
    }
    footer{
        text-align: center;

        h3{
            margin-left: 30px;
        }
    }
    .choix{
        max-width: 100%;
    }
}

/*Version desktop*/
@media #{$media-desktop}{

    header{
        width: 40%;
        justify-content: space-around;
        margin-left: 25%;

        i{
            margin-top: 25px;
        }
    }
    main{
        img{
            height: 400px;
        }
    }
    .nom-restau{
       margin-bottom: 40px;
       justify-content: center;
        
       i{
           margin-left: 10%;
       }
    }
    .carte{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .entrees{
        width: 30%;
    }
    .plats{
        width: 30%;
    }
    .desserts{
        width: 30%;
    }

    .btn{
        margin-left: 27%;
    }
}